@font-face{
    font-family:Lyna; 
src: url(fonts/LemonMilk.otf);
}
body{
        background-image: url(images/gray.jpg);
        background-color: white;
        background-size: 100%;
        background-repeat:no-repeat;
        background-attachment:fixed;
        color:black;
}
h1{
     font-family: "Lyna", sans-serif;   
}
#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #c5a7e5;
}
#nav li {
    float: left;
}
#nav li a {
    display: block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a: hover {
    background-color: white;
    color: white;
}
#nav li a:active { 
 background-color: white;
 color:black;   
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: .9;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

body {
  text-align: center;
 }


